
name: Python package

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v2
        with:
          fetch-depth: 0

      - name: Set up Python
        uses: actions/setup-python@v2
        with:
          python-version: "3.7"

      - name: Prepare Python
        run: python -m pip install build

      - name: Build Packages
        run: python -m build

      - name: Store the packages
        uses: actions/upload-artifact@v2
        with:
          name: python-package-distributions
          path: dist

  test:
    needs:
      - build
    
    runs-on: ubuntu-latest
    strategy:
      matrix:
        python-version: [ "3.7", "3.8", "3.9" ]

    steps:
      - name: Checkout
        uses: actions/checkout@v2
        with:
          fetch-depth: 0

      - name: Set up Python ${{ matrix.python-version }}
        uses: actions/setup-python@v2
        with:
          python-version: ${{ matrix.python-version }}

      - name: Download all the dists
        uses: actions/download-artifact@v2
        with:
          name: python-package-distributions
          path: dist/
          
      - name: Install built wheel
        run: python -m pip install dist/*.whl[test] -c requirements.txt
        shell: bash

      - name: run pytest
        run: python -m pytest --cov

      - name: codecov
        uses: codecov/codecov-action@v3
        with:
          fail_ci_if_error: true
